////////////////////////////////////////////////////////////////////////////////
// Custom Sass Mixins
// --------------------
// This file contains custom Sass mixins and functions. It will be included 
// in any files that import the "base" partial. To use a mixin from this 
// file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;
////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'font-awesome';
    src: url('/sites/all/themes/cardozo/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/cardozo/fonts/fontawesome-webfont.woff') format('woff'),
         url('/sites/all/themes/cardozo/fonts/fontawesome-webfont.ttf') format('truetype'),
         url('/sites/all/themes/cardozo/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arrows';
    src: url('/sites/all/themes/cardozo/fonts/symbol-signs-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/cardozo/fonts/symbol-signs-webfont.woff') format('woff'),
         url('/sites/all/themes/cardozo/fonts/symbol-signs-webfont.ttf') format('truetype'),
         url('/sites/all/themes/cardozo/fonts/symbol-signs-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Example Usage!
// 
// a{
// 	@include circle-arrow-after;
// 	@include light-blue-dark-blue;
// }
// 
// And it should just work

@mixin circle-arrow-before {
	&:before{
		font-family: 'font-awesome';
		content: "\f0a9 ";
		font-size: 1.5em;
		vertical-align: -0.2em;
	}
}

@mixin circle-arrow-after {
	&:after{
		font-family: 'font-awesome';
		content: "\f0a9";
		font-size: 1.5em;
		vertical-align: -0.2em;
	}
}

@mixin arrow-before {
	&:before{
		font-family: 'arrows';
		content: "\R ";
		font-weight: bold;
	}
}

@mixin arrow-after {
	&:after{
		font-family: 'arrows';
		content: "\R";
		font-weight: bold;
	}
}

@mixin carat-after {
	&:after{
		font-family: 'font-awesome';
		content: "\f04b";
	}
}

@mixin carat-before {
	&:before{
		font-family: 'font-awesome';
		content: "\f04b ";
	}
}

@mixin light-blue-dark-blue{
	color: #0096db;
	&:hover{
		color: #005e7f;
	}
}

@mixin light-teal-dark-forest-green{
	color: #00a1a1;
	&:hover{
		color: #006661;
	}
}

@mixin light-green-dark-green{
	color: #478900;
	&:hover{
		color: #375602;
	}
}


@mixin light-orange-dark-orange{
	color: #ff5b00;
	&:hover{
		color: #ce3505;
	}
}

@mixin clear-button-styles{//prep input submit buttons for sprited background images.
	border-radius: 0;
	border: none;
	background: gray;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	color: transparent;
}

@mixin clear-input-text-styles{
	font-size: 13px;
	padding: 7px 10px 7px 10px;
	margin-top: 0px;
	border: 0;
	margin-right: 0px;
}
// @include mixin-name;