#page-content{
    max-width: 960px;
    /*padding-left:10px;
    padding-right: 10px;*/
    margin: 0 auto;
    background: #f5f7f7;
    /*float: left;*/
    /*overflow: auto;*/
}
#main-content{
    width:80%;
    padding-left: 2%;
    float: right;
}

#main-content.fullright{
    width: 100%;
    padding-left: 0;
}

.clearfix{
    clear: both;
}

#main-content.fullright .col.forty{
    width: 25%;
}
#main-content.fullright .col.sixty{
    width: 70%;
    margin-right:5%;
}

.col.sixty{
    width: 62.66%;
    /*background:#029405;*/
}
.col.forty{
    width: 30.66%;
    padding-left:6.68%;
    /*background: #928405;*/
}

#main-content.fullright .col.forty{
    padding-left:0;
}

.col.fifty{
    width:50%;
    /*background: #fa0;*/
}

.row {
width: 100%;
clear: both;
}

#main{
    width: 100%;
    float: right;
    /*background: #fa0fa0;*/
}

.row.no-rightbar .col.sixty{
    width: 100%;
}

.row > div{
    float: left;
}

.row > div.full{
    float: none;
}

#sidebar{
    width: 18%;
    float: right;
    /*background: #aaa;*/
}

@media all and (max-width: 600px) {
    #main-content > div > div{
        width: 100%
    }
    #main-content, #sidebar{
        width: 100%;
    }
    #main-content.fullright .col.forty, #main-content.fullright .col.sixty{
        width: 100%;
    }
}